@keyframes bounce {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

#app {
	font-family: sans-serif;
	min-width: 400px;
	padding: 0.3rem;

	.copy {
		padding: 0.5em;
		background: #aaa5;
		border-radius: 0.4em;

		user-select: none;
		cursor: copy;

		&:active {
			animation: bounce 0.3s ease;
		}
	}

	.copy-section {
		margin-top: 1em;

		.copy {
			margin: 0.5em 0;
		}
	}

	.settings-btn {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		width: 2em;
		height: 2em;

		display: grid;
		align-items: center;
		justify-content: center;
	}

	.settings {
		display: grid;
		gap: 0.5em;
	}

	input {
		padding: 0.4em;
	}

	input + label {
		margin-top: 1em;
	}

	em {
		font-style: normal;
		color: #3bb9e3;
	}

	.booking-label {
		padding: 0.5em 1em;
		margin: -0.5em;
		float: right;
		border-top-right-radius: 0.4em;
		border-bottom-right-radius: 0.4em;
	}
}
