name: Release

on:
  release:
    types: [created]

jobs:
  build:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Update version in package.json
        uses: jossef/action-set-json-field@v2
        with:
          file: package.json
          field: version
          value: ${{ github.event.release.tag_name }}

      - name: Update version in manifest.json
        uses: jossef/action-set-json-field@v2
        with:
          file: manifest.json
          field: version
          value: ${{ github.event.release.tag_name }}

      - uses: actions/setup-node@v3
        with:
          node-version: 23
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v4
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - run: pnpm run build
      - run: pnpm publish --provenance --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
